.vl-dropdown {
  position: relative;
  display: inline-block;
  &-toggle {
    cursor: pointer;
  }
  &-menu {
    position: absolute;
    z-index: 10;
    .vl-dropdown-right & {
      right: 0;
    }
    .vl-dropdown-down & {
      top: 100%;
      margin-top: 5px;
    }
    .vl-dropdown-up & {
      bottom: 100%;
      margin-bottom: 5px;
    }
  }
}
